0. 所有的题目结果中，给出SQL语句和执行结果。

1. 在新数据库中新建一张 user 表,插入几条数据,属性包含:唯一标识(id),姓名(name)性别(sex).年龄(age).联系方式(phone)，数据如下：

    ('John Doe', 'Male', 25, '123-456-7890')

    ('Jane Smith', 'Female', 31, '987-654-3210')
    
    ('Bob Johnson', 'Male', 22, '555-123-4567')

In [1]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="test1234",
    auth_plugin='mysql_native_password'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000213D394D460>

In [2]:
mycursor=mydb.cursor()

mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('database_1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [3]:
mycursor.execute("CREATE DATABASE database_1")

In [4]:
mycursor.execute("USE database_1")
mycursor.execute("CREATE TABLE user(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255) NOT NULL,sex VARCHAR(10) NOT NULL,age INT NOT NULL,phone VARCHAR(20) NOT NULL)")
mycursor.execute("INSERT INTO user (name, sex, age, phone) VALUES('John Doe', 'Male', 25, '123-456-7890'),('Jane Smith', 'Female', 31, '987-654-3210'),('Bob Johnson', 'Male', 22, '555-123-4567')")

In [5]:
mydb.commit()
mycursor.execute("SELECT * FROM user")
result=mycursor.fetchall()
for row in result:
    print(row)

(4, 'John Doe', 'Male', 25, '123-456-7890')
(5, 'Jane Smith', 'Female', 31, '987-654-3210')
(6, 'Bob Johnson', 'Male', 22, '555-123-4567')

2. 写出 SQL语句,查询 user 表中所有年龄在 20-30 范围内的用户

3. 写出SQL语句，向user表中添加自己的个人信息，并添加几条和你姓名同姓的虚拟信息。

4. 写出 SQL语句,查询 user 表中年龄在 20-30 范围内,名字包含“你的姓氏”的用户,并按照年龄从大到小排序输出

5. 写出 SQL 语句,计算 user 表中所有用户的平均年龄

6. 新建两张表team 表(id,teamName)和score 表(id,teamid,userid,score)。其中score 表中的 teamid 为指向 team表id 的外键，userid 为指向 user表id的外键

7. 在team表中和score表中插入合适的记录，写出 SQL语句,查询 teamName 为“ECNU”的队伍中，年龄小于 20 的用户们，结果不得为空。

8. 写出 SQL 语句,计算 teamName为“ECNU”的总分(假设 score 存在 null值,nul值默认为 0 加入计算)。

9. 写出SQL语句，删除user表中个人信息的记录。